{% extends "Germinar/base.html" %}
<!DOCTYPE html>

{% load static %}
    {% block title %} catalogo {% endblock %}


{% load bootstrap %}
{% load humanize %}
{% load static %}

    {% block links%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo</title>
    <link type="text/css" rel="stylesheet" href ="{% static 'Germinar/css/diseno.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'Germinar/css/normalize.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% endblock%}

    {% block content %}

    <main class="grid-catalogo">
        <aside class="side-bar contenedor">
            <!--filtros referencia-->
            <form method="GET" class="filtros contenedor-filtros">
                <h3>Filtros</h3>
                <div class="form-check">
                    {{ filter.form|bootstrap }}
                </div>
                <button type="submit" class="btn btn-primary">Filtrar</button>
            </form>
            <hr>
        </aside>

        <div>
            <section class="contenedor ">
                <div class="titulo-catalogo nombre1">
                    <h1 class="titulo-catalogo" style="border-bottom: solid 3px var(--verdeOscuro);" >
                        Nuestros Productos
                    </h1>
                </div>
            </section>
            <div class='catalogo'>
                {% for i in filter.qs %}
                    <div class='filtros contenedor-plantas catalogo'>
                        <div class="producto contenedor2 card">
                            <div class="prod">
                                <div class="producto__imagen">
                                    <img src="{{i.imagenProducto.url}}" alt="imagen planta">
                                </div>
                                <div class="producto__informacion">
                                    <p class="producto__nombre">{{i.nombreProducto}}</p>
                                    <p class="producto__precio">${{i.precio | intcomma}}</p>
                                </div>
                                <td><a class="btn-login" href="{% url 'planta' i.idProducto %}">Ver producto</a></td>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </main>

    <!--filtros referencia-->

    {% endblock %}

{% block js %}
    <script src="{% static 'Germinar/js/planta-interior.js' %}"></script>
{% endblock %}
