{% extends "Germinar/base.html" %}
{% block title %} catalogo {% endblock %}
<!DOCTYPE html>
{% block content %}
{% load humanize %}
{% load static %} 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo</title>
    <link type="text/css" rel="stylesheet" href ="{% static 'Germinar/css/diseno.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'Germinar/css/normalize.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="{% static 'Germinar/js/planta-interior.js' %}"></script>
</head>
<body style="background-image: linear-gradient(to bottom, #C7D0D8 30%, white 100%);">
    <main class="grid-catalogo">
        <aside class="side-bar contenedor">
            <div class="filtros contenedor-filtros">
                <h3>Filtros</h3>
                <h4>Tipo de planta</h4>
                <form action="#" method="get" class="form-filtro" name="form-filtro" id="form-filtro">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="interior" id="plantaInterior" name="plantaInterior" checked>
                        <label class="form-check-label" for="flexCheckDefault">
                            Plantas de interior
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="exterior" id="plantaExterior" name="plantaExterior">
                        <label class="form-check-label" for="flexCheckChecked">
                            Plantas de exterior
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="jardin" id="articulosJardin" name="articulosJardin">
                        <label class="form-check-label" for="flexCheckChecked">
                            Articulos de jard&iacute;n
                        </label>
                    </div>
                    <h4>Rango de precio</h4>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="precio" id="10mil" value="10mil">
                        <label class="form-check-label" for="flexRadioDefault1">
                            $10.000 - $30.000
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="precio" id="30mil" value="30mil">
                        <label class="form-check-label" for="flexRadioDefault2">
                            $31.000 - $50.000
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="precio" id="50mil" value="50mil">
                        <label class="form-check-label" for="flexRadioDefault2">
                            $51.000 - $70.000
                        </label>
                    </div>
                    <div class="buttonfiltro"">
                        <button class="btn-mostrar btn-primary" style="font-size: 1.5rem; " type="submit" id="submitFiltro">Aplicar filtros</button>
                    </div>
                </form>
            </div>
        </aside>

        <section class="contenedor">
            <div class="titulo-catalogo nombre1">
                <h1 class="titulo-catalogo" style="border-bottom: solid 3px var(--verdeOscuro);" >Nuestros Productos</h1>
            </div>
            <!--este div es la lista de la api-->
            <div class="grid-catalogo2">
                {% for p in productos %}
                <div class="producto">
                    <div class="prod">
                        <div class="producto__imagen">
                            {% if p.imagenProducto %}
                            <img src="{{p.imagenProducto.url}}" alt="imagen planta">
                            {% endif %}
                        </div>
                        <div class="producto__informacion">
                            <p class="producto__nombre">{{p.nombreProducto}}</p>
                            <p class="producto__precio">${{p.precio | intcomma}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </main>
    <!--Pie de pagina-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <script src="{% static 'Germinar/js/script.js' %}"></script>
</body>
</html>
{% endblock %}