{% extends "Germinar/base.html" %}
<!DOCTYPE html>
{% load static %}
{% block title %} catalogo {% endblock %}
<html lang="en">

    {% block links %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'Germinar/js/planta-interior.js' %}"></script>
    {% endblock %}


    {% block content %}
    <main class="grid-catalogo">
        <aside class="side-bar contenedor ">
            <div class="filtros contenedor-filtros">
                <h3>Filtros</h3>
                <h4>Tipo de planta</h4>
                <form action="#" method="get" class="form-filtro" name="form-filtro" id="form-filtro">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="interior" id="plantaInterior" name="plantaInterior" checked>
                        <label class="form-check-label" for="flexCheckDefault">
                            Plantas de interior
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="exterior" id="plantaExterior" name="plantaExterior">
                        <label class="form-check-label" for="flexCheckChecked">
                            Plantas de exterior
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="jardin" id="articulosJardin" name="articulosJardin">
                        <label class="form-check-label" for="flexCheckChecked">
                            Articulos de jard&iacute;n
                        </label>
                    </div>
                    <h4>Rango de precio</h4>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="precio" id="10mil" value="10mil">
                        <label class="form-check-label" for="flexRadioDefault1">
                            $10.000 - $30.000
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="precio" id="30mil" value="30mil">
                        <label class="form-check-label" for="flexRadioDefault2">
                            $31.000 - $50.000
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="precio" id="50mil" value="50mil">
                        <label class="form-check-label" for="flexRadioDefault2">
                            $51.000 - $70.000
                        </label>
                    </div>
                    <div class="buttonfiltro">
                        <button class="btn-mostrar btn-primary" style="font-size: 1.5rem; " type="submit" id="submitFiltro">Aplicar filtros</button>
                    </div>
                </form>
            </div>
        </aside>
        <section class="contenedor">
            <div class="titulo-catalogo nombre1">
                <h1 class="titulo-catalogo" style="border-bottom: solid 3px var(--verdeOscuro);" >Nuestros Productos</h1>
            </div>
            <!--este div es la lista de la api-->
            <div class="grid" id="productoCiclo"></div>
        </section>
    </main>
    {% endblock %}
</html>