{% extends "Germinar/base.html" %}
{% block title %} formulario {% endblock %}
<!DOCTYPE html>
{% block content %}
{% load static %} 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Typescript UI Controls" />
    <meta name="author" content="Syncfusion" />
    <title>Document</title>
    <link type="text/css" rel="preload" href="{% static 'Germinar/css/diseno.css' %}">
    <link type="text/css" rel="stylesheet" href ="{% static 'Germinar/css/diseno.css' %}">
    <link type="text/css" rel="preload" href="{% static 'Germinar/css/normalize.css' %}"> <!--Ayudará en normalizar la vista de la página para todos los navegadores, asi no habrá distinciones entre abrir la página en diferentes navegadores-->
    <link type="text/css" rel="stylesheet" href="{% static 'Germinar/css/normalize.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script>
        function habilitarbtn()
        {
            var nombre = $('#nombre').val();
            var password = $('#password').val();
            var email = $('#email').val();
            var direccion = $('#direccion').val();
            var reppassword = $('#reppassword').val();
            var comunaregion = $('.tam-region').val();
            var fecha = $('#fecha').val();

            if (nombre && password && email && direccion && reppassword && comunaregion && fecha && terminos ) {
                $('#submitButton').attr('disabled', false);
                $('#submitButton').removeClass('lost');
                $('#submitButton').addClass('found');
            } else {
                $('#submitButton').attr('disabled', true);
                $('#submitButton').removeClass('found');
                $('#submitButton').addClass('lost');
            }
        }
        function mostrarContrasena() {
            var tipo = document.getElementById("password");
            if (tipo.type == "password") {
                tipo.type = "text";
            } else {
                tipo.type = "password";
            }
        }

        var RegionesYcomunas = {

            "regiones": [{
                "NombreRegion": "Arica y Parinacota",
                "comunas": ["Arica", "Camarones", "Putre", "General Lagos"]
            },
            {
                "NombreRegion": "Tarapacá",
                "comunas": ["Iquique", "Alto Hospicio", "Pozo Almonte", "Camiña", "Colchane", "Huara", "Pica"]
            },
            {
                "NombreRegion": "Antofagasta",
                "comunas": ["Antofagasta", "Mejillones", "Sierra Gorda", "Taltal", "Calama", "Ollagüe", "San Pedro de Atacama", "Tocopilla", "María Elena"]
            },
            {
                "NombreRegion": "Atacama",
                "comunas": ["Copiapó", "Caldera", "Tierra Amarilla", "Chañaral", "Diego de Almagro", "Vallenar", "Alto del Carmen", "Freirina", "Huasco"]
            },
            {
                "NombreRegion": "Coquimbo",
                "comunas": ["La Serena", "Coquimbo", "Andacollo", "La Higuera", "Paiguano", "Vicuña", "Illapel", "Canela", "Los Vilos", "Salamanca", "Ovalle", "Combarbalá", "Monte Patria", "Punitaqui", "Río Hurtado"]
            },
            {
                "NombreRegion": "Valparaíso",
                "comunas": ["Valparaíso", "Casablanca", "Concón", "Juan Fernández", "Puchuncaví", "Quintero", "Viña del Mar", "Isla de Pascua", "Los Andes", "Calle Larga", "Rinconada", "San Esteban", "La Ligua", "Cabildo", "Papudo", "Petorca", "Zapallar", "Quillota", "Calera", "Hijuelas", "La Cruz", "Nogales", "San Antonio", "Algarrobo", "Cartagena", "El Quisco", "El Tabo", "Santo Domingo", "San Felipe", "Catemu", "Llaillay", "Panquehue", "Putaendo", "Santa María", "Quilpué", "Limache", "Olmué", "Villa Alemana"]
            },
            {
                "NombreRegion": "Región del Libertador Gral. Bernardo O’Higgins",
                "comunas": ["Rancagua", "Codegua", "Coinco", "Coltauco", "Doñihue", "Graneros", "Las Cabras", "Machalí", "Malloa", "Mostazal", "Olivar", "Peumo", "Pichidegua", "Quinta de Tilcoco", "Rengo", "Requínoa", "San Vicente", "Pichilemu", "La Estrella", "Litueche", "Marchihue", "Navidad", "Paredones", "San Fernando", "Chépica", "Chimbarongo", "Lolol", "Nancagua", "Palmilla", "Peralillo", "Placilla", "Pumanque", "Santa Cruz"]
            },
            {
                "NombreRegion": "Región del Maule",
                "comunas": ["Talca", "ConsVtución", "Curepto", "Empedrado", "Maule", "Pelarco", "Pencahue", "Río Claro", "San Clemente", "San Rafael", "Cauquenes", "Chanco", "Pelluhue", "Curicó", "Hualañé", "Licantén", "Molina", "Rauco", "Romeral", "Sagrada Familia", "Teno", "Vichuquén", "Linares", "Colbún", "Longaví", "Parral", "ReVro", "San Javier", "Villa Alegre", "Yerbas Buenas"]
            },
            {
                "NombreRegion": "Región del Biobío",
                "comunas": ["Concepción", "Coronel", "Chiguayante", "Florida", "Hualqui", "Lota", "Penco", "San Pedro de la Paz", "Santa Juana", "Talcahuano", "Tomé", "Hualpén", "Lebu", "Arauco", "Cañete", "Contulmo", "Curanilahue", "Los Álamos", "Tirúa", "Los Ángeles", "Antuco", "Cabrero", "Laja", "Mulchén", "Nacimiento", "Negrete", "Quilaco", "Quilleco", "San Rosendo", "Santa Bárbara", "Tucapel", "Yumbel", "Alto Biobío", "Chillán", "Bulnes", "Cobquecura", "Coelemu", "Coihueco", "Chillán Viejo", "El Carmen", "Ninhue", "Ñiquén", "Pemuco", "Pinto", "Portezuelo", "Quillón", "Quirihue", "Ránquil", "San Carlos", "San Fabián", "San Ignacio", "San Nicolás", "Treguaco", "Yungay"]
            },
            {
                "NombreRegion": "Región de la Araucanía",
                "comunas": ["Temuco", "Carahue", "Cunco", "Curarrehue", "Freire", "Galvarino", "Gorbea", "Lautaro", "Loncoche", "Melipeuco", "Nueva Imperial", "Padre las Casas", "Perquenco", "Pitrufquén", "Pucón", "Saavedra", "Teodoro Schmidt", "Toltén", "Vilcún", "Villarrica", "Cholchol", "Angol", "Collipulli", "Curacautín", "Ercilla", "Lonquimay", "Los Sauces", "Lumaco", "Purén", "Renaico", "Traiguén", "Victoria",]
            },
            {
                "NombreRegion": "Región de Los Ríos",
                "comunas": ["Valdivia", "Corral", "Lanco", "Los Lagos", "Máfil", "Mariquina", "Paillaco", "Panguipulli", "La Unión", "Futrono", "Lago Ranco", "Río Bueno"]
            },
            {
                "NombreRegion": "Región de Los Lagos",
                "comunas": ["Puerto Montt", "Calbuco", "Cochamó", "Fresia", "FruVllar", "Los Muermos", "Llanquihue", "Maullín", "Puerto Varas", "Castro", "Ancud", "Chonchi", "Curaco de Vélez", "Dalcahue", "Puqueldón", "Queilén", "Quellón", "Quemchi", "Quinchao", "Osorno", "Puerto Octay", "Purranque", "Puyehue", "Río Negro", "San Juan de la Costa", "San Pablo", "Chaitén", "Futaleufú", "Hualaihué", "Palena"]
            },
            {
                "NombreRegion": "Región Aisén del Gral. Carlos Ibáñez del Campo",
                "comunas": ["Coihaique", "Lago Verde", "Aisén", "Cisnes", "Guaitecas", "Cochrane", "O’Higgins", "Tortel", "Chile Chico", "Río Ibáñez"]
            },
            {
                "NombreRegion": "Región de Magallanes y de la AntárVca Chilena",
                "comunas": ["Punta Arenas", "Laguna Blanca", "Río Verde", "San Gregorio", "Cabo de Hornos (Ex Navarino)", "AntárVca", "Porvenir", "Primavera", "Timaukel", "Natales", "Torres del Paine"]
            },
            {
                "NombreRegion": "Región Metropolitana de Santiago",
                "comunas": ["Cerrillos", "Cerro Navia", "Conchalí", "El Bosque", "Estación Central", "Huechuraba", "Independencia", "La Cisterna", "La Florida", "La Granja", "La Pintana", "La Reina", "Las Condes", "Lo Barnechea", "Lo Espejo", "Lo Prado", "Macul", "Maipú", "Ñuñoa", "Pedro Aguirre Cerda", "Peñalolén", "Providencia", "Pudahuel", "Quilicura", "Quinta Normal", "Recoleta", "Renca", "San Joaquín", "San Miguel", "San Ramón", "Vitacura", "Puente Alto", "Pirque", "San José de Maipo", "Colina", "Lampa", "TilVl", "San Bernardo", "Buin", "Calera de Tango", "Paine", "Melipilla", "Alhué", "Curacaví", "María Pinto", "San Pedro", "Talagante", "El Monte", "Isla de Maipo", "Padre Hurtado", "Peñaflor"]
            }]
        }


        jQuery(document).ready(function () {

            var iRegion = 0;
            var htmlRegion = '<option value="sin-region">Seleccione región</option><option value="sin-region">---</option>';
            var htmlComunas = '<option value="sin-region">Seleccione comuna</option><option value="sin-region">---</option>';

            jQuery.each(RegionesYcomunas.regiones, function () {
                htmlRegion = htmlRegion + '<option value="' + RegionesYcomunas.regiones[iRegion].NombreRegion + '">' + RegionesYcomunas.regiones[iRegion].NombreRegion + '</option>';
                iRegion++;
            });

            jQuery('#regiones').html(htmlRegion);
            jQuery('#comunas').html(htmlComunas);

            jQuery('#regiones').change(function () {
                var iRegiones = 0;
                var valorRegion = jQuery(this).val();
                var htmlComuna = '<option value="sin-comuna">Seleccione comuna</option><option value="sin-comuna">---</option>';
                jQuery.each(RegionesYcomunas.regiones, function () {
                    if (RegionesYcomunas.regiones[iRegiones].NombreRegion == valorRegion) {
                        var iComunas = 0;
                        jQuery.each(RegionesYcomunas.regiones[iRegiones].comunas, function () {
                            htmlComuna = htmlComuna + '<option value="' + RegionesYcomunas.regiones[iRegiones].comunas[iComunas] + '">' + RegionesYcomunas.regiones[iRegiones].comunas[iComunas] + '</option>';
                            iComunas++;
                        });
                    }
                    iRegiones++;
                });
                jQuery('#comunas').html(htmlComuna);
            });
            jQuery('#comunas').change(function () {
                if (jQuery(this).val() == 'sin-region') {
                    alert('Seleccione alguna region');
                } else if (jQuery(this).val() == 'sin-comuna') {
                    alert('Seleccione alguna comuna');
                }
            });
            jQuery('#regiones').change(function () {
                if (jQuery(this).val() == 'sin-region') {
                    alert('Seleccione alguna region');
                }
            });

        });
    </script>

</head>
<body>
    <div class="contenedor-form">
        <div class="contenedor2">
            <div class="subt-pago">
                <h2>Ingrese sus datos</h2>
            </div>
            <form action="#" method="POST" class="form-usuario contenedor2" name="form-usuario" id="form-usuario">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="{{ form.nombreCliente.id_for_label }}" class="form-label-usu">Nombre Completo</label>
                    <input type="text" minlength="10" maxlength="50" class="form-control-usu" name="{{form.nombreCliente.html_name}}" id="nombre" onchange="habilitarbtn()" required="required"
                        placeholder="Ingresar nombre y apellidos">
                    <div id="emailHelp" class="form-text"></div>
                </div>
                <div class="mb-3">
                    <label for="{{ form.correoElect.id_for_label }}" class="form-label-usu">Correo Electr&oacute;nico</label>
                    <input type="email" class="form-control-usu"  minlength="10" maxlength="70" name="{{form.correoElect.html_name}}" id="email" onchange="habilitarbtn()" required="required"
                        placeholder="Ejemplo: nombreCorreo@gmail.com">
                    <div id="emailHelp" class="form-text"></div>
                </div>
                <div class="mb-3">
                    <label for="#" class="form-label-usu">Contrase&ntilde;a</label>
                    <input type="password" class="form-control-usu"  minlength="8" maxlength="20" name="contrasenna" id="password" onchange="habilitarbtn()" required="required"
                        placeholder="La contrase&ntilde;a debe tener un largo minimo de 8 y maximo de 20 caracteres.">
                    <div class="mostrar-contrasenna">
                        <button class="btn-mostrar btn-primary" type="button" onclick="mostrarContrasena()">Mostrar
                            Contraseña</button>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label-usu">Repetir Contrase&ntilde;a</label>
                    <input type="password" class="form-control-usu" onchange="habilitarbtn()" minlength="8" maxlength="20" name="reppassword" id="reppassword" required="required"> 
                </div>
                <div class="mb-3">
                    <label for="{{ form.direccion.id_for_label }}" class="form-label-usu">Direcci&oacute;n</label>
                    <input type="text" class="form-control-usu" onchange="habilitarbtn()" minlength="10" maxlength="100" name="{{form.direccion.html_name}}" id="direccion" placeholder="Pasaje / Calle" required="required">
                </div>
                    <div class="comuna-region">
                        <select for="{{ form.regionCliente.id_for_label }}" type="text" class="tam-region" name="{{ form.regionCliente.html_name }}" id="regiones" onchange="habilitarbtn()" required="required"></select>
                        <select for="{{ form.ciudadCliente.id_for_label }}" type="text" class="tam-region" name="{{ form.ciudadCliente.html_name }}" id="comunas" onchange="habilitarbtn()" required="required"></select>
                    </div>
                <div class="mb-3 formato-date ">
                    <label class="form-label">Fecha de nacimiento (d&iacute;a/mes/a&ntilde;o) </label>
                    <div class="input-group date tm-date">
                        <input for="{{ form.fechaNac.id_for_label }}" type="text" class="form-control-u" readonly name="{{ form.fechaNac.html_name }}"" onchange="habilitarbtn()" id="fecha" required
                            placeholder="Presionar para a&ntilde;adir fecha"><span class="input-group-addon"><i
                                class="glyphicon glyphicon-th"></i></span>
                    </div>
                </div>
                    <div class="mb-3 form-check-term " id="form-terminos">
                        <input type="checkbox" class="form-check-terminos"  onchange="habilitarbtn()" name="terminos" id="terminos" required="required"> Acepto Terminos y Condiciones</input>
                    </div>
                </div>
            </div>      
    </div>
        <!--FORMULARIO-->
                <div class="contenedor2">
                    <div class="contenedor3">
                        <div class="subt-pago">
                            <h2>Valor final</h2>
                        </div>
                        
                        <div class="total">
                            <h2>$30.000</h2>
                        </div>

                    <div class="btn-pago">
                        <button type="submit" id="submitButton" class="btn-submit btn-primary-listo">Pagar</button>
                    </div>    
                </div>
            </form>
            <div class="alert alert-success" role="alert">
                {{mensaje}}
            </div>
            <!--OPCIONES DE PAGO-->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <script src="{% static 'Germinar/js/script.js' %}"></script>
    <script src="{% static 'Germinar/js/calendario.js' %}"></script>
</body>
</html>
{% endblock %}